<html>
  <head>
    <title>purchaseOrderId: {{ productId }}</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <iframe
      src="/printpdf/{{ productId }}"
      id="myFrame"
      frameborder="0"
      style="border:0; display: none"
      width="300"
      height="300"
    >
    </iframe>
    <!-- <p><input type="button" id="bt" onplay="print()" value="Print PDF" /></p> -->
  </body>

  <script>
    function print() {
      var objFra = document.getElementById("myFrame");
      objFra.contentWindow.focus();
      objFra.contentWindow.print();
    }
    $(document).ready(function() {
      print();
    });
  </script>
</html>
